body {
    margin: 0;
    background: linear-gradient(to left, orange, purple);
    font-family: helvetica;
    font-size: 16px;
    font-weight: bold;
    color: #9999;
  }

img:hover {
  color: orange;
}

.header {
  width: 100%;
  height: 120px;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  color: black;
  font-size: 14px;
}

ul {

position: fixed;
list-style-type: none;
margin: 0;
padding: 0px;
overflow: hidden;
}

li {
  float: left;
  padding: 20px 40px 10px 50px ;
  border-right: 1px solid gray;
  text-align: left;
}

li a {
    display: block;
    color: black;
    text-decoration: none;

}

a:hover {
	color: orange;
	font-weight: bold;
	text-decoration: none;
}

.container-1 {
  margin: 20px;
  padding-top: 20px;
  height: 400px;
  border: white solid 1px;
  text-align: center;
  color: white;
}


.box {
  margin: 10px;
  width: 370px;
  height: 300px;
  border: white solid 1px;
  text-align: center;
  color: black;
  float: left;
}

#circle {

  padding: 5px;
  display: inline-block;
	margin-left: 20px;
  margin-top: auto;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 3px white solid;
}

#circle:hover {
  color: #dce9ef;
  weight: bold;
}

p {
text-align: center;
padding: 25px;
}
